body{
	width:80%;
	margin:10px auto 2px;
}
.ui-widget{
	font-family: Optima, Arial, sans-serif;
}
#panel{
	border:0;
}


.ui-toolbar {
	background: white;
	border:0;
}
.ui-button-text{
	background:white;
}


.ui-selectonemenu, .ui-selectonemenu-label{
     width: 100% !important;
}
.choices{
	margin-bottom:5px;
	margin-right: 5px;
}

.ui-widget-content tr, .ui-widget-content td{
    border: none !important;
}
.ui-widget-content .ui-datalist-content{
	border: none;
	background: transparent;
	background-image: none;
}
.datalistWithoutBorder .ui-datalist-content{
	border:0;
}

.datalist-nospace .ui-widget-content .ui-datalist-data{
	margin:0;
}
.datalist-nospace .ui-widget-content .ui-datalist-data .ui-datalist-item{
	margin-bottom:5px;
}

.ui-widget-content a:-webkit-any-link{
	text-decoration: none;
	border: 0 dashed;
	border-bottom-width: 1px;
}

.button-right{
	float:right;
	width:25px;
	height:25px;
	margin-left:5px;
}

#datalistQuestion .ui-datalist-header{
	visibility:hidden;
}

#datalistQuestion dt.ui-datalist-item{
	margin-bottom:20px;
}

.ui-datatable.datatableHidden div.ui-datatable-header{
	background-color:white;
	border:0;
}


.toolbarGroupCenter{
	width:440px;
	position:absolute;
	left:50%;
	margin-left:-220px;
	text-align:center;
	line-height:41px;
}

.ui-icon.ui-icon-circle-plus, .ui-icon.ui-icon-check{
	background-image: url("../resources/img/ui-icons_82b440_256x240.png");
}
.ui-icon.ui-icon-close,.ui-icon.ui-icon-close-thick, .ui-icon.ui-icon-alert{
	background-image: url("../resources/img/ui-icons_ff4a43_256x240.png");
}
.ui-icon.ui-icon-pencil{
	background-image: url("../resources/img/ui-icons_0077cc_256x240.png");
}
.ui-icon.ui-icon-copy{
	background-image: url("../resources/img/ui-icons_7BBB39_256x240.png");
}
.ui-icon.ui-icon-person{
	background-image: url("../resources/img/ui-icons_835DD7_256x240.png");
}

.gridWithoutBorder tr.ui-widget-content.ui-panelgrid-even, .gridWithoutBorder tr.ui-widget-content.ui-panelgrid-odd{
	border:0;
}
.gridWithoutBorder h2{
	margin:0;
}

.ui-clock{
	background: white;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.statButton span.ui-button-text.ui-c{
	background: white url("../resources/img/statistics.png") no-repeat;
	background-position:50% 25%;
	background-size:12px;
}

div.blockStat{
	/*background: #A9A9A9;*/
	border-width:2px 0 0 2px;
	border-style:solid;
	border-color:#A9A9A9;
	height:90px;
	text-align:center;
	padding-top:30px;
	font-size:1.1em;
}
div.blockStat .ui-outputlabel{
	font-size:1.8em;
}

.credit{
	width:420px;
	margin: 0 0 0 -210px;
	position:relative;
	left:50%;
	
	font-size:0.625em;
	color: #c4c4c4';
	text-align:center;
}